body {
    background-color: black;
    color: rgb(249, 239, 227);
}

.to-do-list {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1 {
    font-size: 4rem;
    border: 1px solid bisque;
    padding: 0 12px;
    display: inline-block;
    border-radius: 6px;
}
.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;

    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.5ms ease;
}

.delete-button {
    background: none;
}
input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
ol {
    padding: 0;
}
li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 10px;
    border: 3px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text {
    flex: 1;
}
.delete-button,
.move-button {
    padding: 0;
    font-size: 1.4rem;
    margin-left: 10px;
    background: none;
}
