body {
    background-color: black;
    color: rgb(249, 239, 227);
}

.to-do-list {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}
h1 {
    font-size: 4rem;
    border: 1px solid bisque;
    padding: 0 12px;
    display: inline-block;
    border-radius: 6px;
    margin-bottom: 5px;
}
.input-container {
    margin-bottom: 25px;
}
.add-button {
    margin-left: 6px;
}
button {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;

    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.5ms ease;
}

.delete-button {
    background: none;
}
input[type="text"] {
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.list-item {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    border: 3px solid;
    border-radius: 5px;
    display: flex;
    max-width: 570px;
    width: 100%;
}
.text {
    max-width: 100%;
    word-break: break-word;
    flex: 1;
}
.delete-button,
.move-button {
    padding: 0;
    font-size: 1.4rem;
    background: none;
}
.version {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-small;
    margin-bottom: 50px;
    text-align: right;
}
.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
